/*
 * Author: Stepan Tesar
 * Using LESS CSS Compiler Plugin for the IntelliJ Platform: https://github.com/acdvorak/intellij-lessc-plugin
 */
/* Base layout settings */
html,
body {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-flow: column;
}
header {
  background: linear-gradient(to right, #0e8dbc, #179abc);
  flex: 0 1 auto;
}
#main-content {
  flex: 1 1 auto;
}
footer {
  flex: 0 1 auto;
}
h2 {
  margin-left: -40px;
}
/*

Styling settings

*/
pre,
.pre-like.response {
  background-color: #ffffff;
}
header {
  padding-top: 20px;
  box-shadow: inset 0 -5px 5px -5px #000000;
}
.jumbotron {
  background-size: auto 100px;
  background: url("../img/gemmaLogo.png") no-repeat 5% 60%;
}
@media (max-width: 767px) {
  .jumbotron .container {
    padding-left: 25%;
  }
  .response-col {
    width: 100%;
  }
  .alert-warning:before {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .jumbotron .container {
    padding-left: 20%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .jumbotron .container {
    padding-left: 20%;
  }
}
@media (min-width: 1200px) and (max-width: 1599px) {
  .jumbotron .container {
    padding-left: 200px;
  }
}
@media (min-width: 1600px) {
  .jumbotron .container {
    padding-left: auto;
  }
}
.jumbotron .container h1 {
  font-weight: bolder;
  font-size: 350%;
  color: white;
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}
.welcome {
  background: #f5f5f5;
  padding: 20px 0;
  box-shadow: inset 0 -5px 5px -5px #000000;
}

.updates {
    background: #f1fdff;
    padding: 20px 0;
    box-shadow: inset 0 -5px 5px -5px #000000;
}

.updates .date{
    color: lightslategray;
    position: relative;
    top: -10px;
}

.code-samples {
  padding: 20px 0;
  box-shadow: inset 0 -5px 5px -5px #000000;
}
.code-samples .container-fluid {
  padding: 20px 20px;
}
.endpoints {
  padding: 20px 0;
}
footer {
  margin-top: 20px;
  padding-top: 20px;
  color: #ffffff;
  background-color: #9b9b9b;
  box-shadow: inset 0 5px 5px -5px #000000;
}
footer ul {
  padding-left: 1px;
}
footer ul li {
  list-style-type: none;
  vertical-align: middle;
}
footer h4 {
  font-weight: 100;
}
footer a {
  color: #ffffff;
  font-weight: bold;
}
footer h4 a {
  font-weight: 100;
  text-decoration: none;
}
footer a:hover {
  color: #2b2b2b;
  text-decoration: none;
}
footer .row img {
  filter: grayscale(100%);
}
footer .row img:hover {
  filter: grayscale(100%) invert(70%);
}
footer footer {
  background-color: #737373;
  padding-bottom: 20px;
}
footer footer h4 {
  color: #ffffff;
  font-weight: bolder;
}
footer footer a {
  text-decoration: none;
}
footer footer a h4 {
  color: #2b2b2b;
}
footer footer img {
  filter: grayscale(100%) invert(80%);
}
footer footer a:hover * {
  color: #f5f5f5;
  filter: grayscale(100%);
}
#main-content .endpoint {
  padding: 10px 0;
}
#main-content .endpoint:nth-child(odd) {
  background: #f5f5f5;
}
.endpoint h4 {
  height: 25px;
  overflow: visible;
  vertical-align: middle;
  line-height: normal;
}
.endpoint .header {
  cursor: pointer;
}
.endpoint .header h4 {
  display: inline-block;
}
.endpoint .header .description {
  display: inline-flex;
  margin-left: 20px;
}
.endpoint .header .glyphicon,
.endpoints-group-title .glyphicon {
  display: inline-block;
  font-size: 130%;
  color: #737373;
}
.access-auth,
.endpoint .header .access-auth {
  color: darkorange;
}
.access-admin,
.endpoint .header .access-admin {
  color: red;
}
.endpoints-group-title {
  cursor: pointer;
}
.endpoints-group-title .glyphicon {
  font-size: 150%;
  margin-left: -40px;
}
.endpoints-group-title h3 {
  display: inline-block;
}
.row-pad {
  padding-bottom: 20px;
}
.param-row {
  margin-bottom: 5px;
}
.pre-like,
.btn-response-desc,
.btn-response-desc-mock {
  display: block;
  padding: 9.5px;
  margin: 0 0 20px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333333;
  word-break: normal;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #9b9b9b;
  border-radius: 4px;
  font-family: monospace, monospace;
}
.pre-like code {
  padding: 0;
  font-size: inherit;
  color: mediumvioletred;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}
.pre-like table {
  width: 100%;
}
.pre-like table tr th,
.pre-like table tr td {
  padding-right: 5px;
}
.pre-like table tr:nth-child(2n+3) {
  background-color: #ffffff;
  color: #434343;
}
.pre-like .description-frow {
  font-weight: bolder;
}
.pre-like .description-imp {
  font-weight: bolder;
  color: darkred;
}
.pre-like .glyphicon {
  font-size: 150%;
}
.btn-response-desc,
.btn-response-desc-mock {
  padding: 7px;
  width: 100%;
}
.btn-response-desc-mock {
  display: inline;
  width: auto;
}
.code-panel {
  background: #333333;
  border: none;
  box-shadow: 0 0 5px #737373;
}
.code-panel .panel-heading {
  background: #f5f5f5;
  border: none;
  font-size: 120%;
  font-weight: bolder;
}
.code-panel .panel-body {
  height: 300px;
  overflow: auto;
}
.code-sample {
  background: #333333;
  border: none;
  overflow: visible;
}
.response-header {
  width: 100%;
  max-width: 100%;
}
.response {
  height: 100%;
  max-height: 300px;
  width: 100%;
  overflow: auto;
}
.badge {
  border-radius: 5px;
  padding: 5px;
  color: #ffffff;
  font-weight: 900;
  font-size: 80%;
}
.badge.invisible {
  background-color: rgba(255, 255, 255, 0);
}
.alert-warning {
  border: none;
  box-shadow: 1px 1px 0 #8a6d3b;
}
.alert-warning:before {
  content: "\e209";
  font-family: "glyphicons halflings";
  position: absolute;
  margin-left: -60px;
  margin-top: -23px;
  font-size: 400%;
  color: #ffda4a;
  text-shadow: 0 0 0;
  height: 100%;
}
.apiError {
  background: red;
}
.apiOk {
  background-color: limegreen;
}
.info {
  color: royalblue;
}
/* Browser Upgrade Prompt */
.browser-upgrade {
  background: #ffd700;
  color: #000000;
}
/* Bootstrap tweaks */
.row.is-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
/*
* FIXME Use a preprocessor for auto-prefixing.
*/
.row.is-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
