/*
 * Author: Stepan Tesar
 * Using LESS CSS Compiler Plugin for the IntelliJ Platform: https://github.com/acdvorak/intellij-lessc-plugin
 */

@darkest: black;
@darker: #2b2b2b;
@darkr: #434343;
@dark: #737373;
@darkMed: #9b9b9b;
@light: #f5f5f5;
@lightest: white;

@warning: gold;
@codeBg: #333;
@blueDarkest: #0e8dbc;
@blueDark: #179abc;
@blueMed: #cdffcd;

@dim-tiny: 2px;
@dim-small: 5px;
@dim-med: 10px;
@dim-big: 20px;

/* Base layout settings */

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-flow: column;
}

header {
    background: linear-gradient(to right, @blueDarkest, @blueDark);
    flex: 0 1 auto;
}

#mainContent {
    flex: 1 1 auto;
}

footer {
    flex: 0 1 auto;
}

/*

Styling settings

*/

pre, .preLike.response {
    background-color: @lightest;
}

header {
    padding-top: @dim-big;
    box-shadow: inset 0 -@dim-small @dim-small -@dim-small black;
}

.welcome {
    background: @light;
    padding: @dim-big 0;
    box-shadow: inset 0 -@dim-small @dim-small -@dim-small black;
}

.codeSamples {
    padding: @dim-big 0;
    box-shadow: inset 0 -@dim-small @dim-small -@dim-small black;
}

.codeSamples .container-fluid {
    padding: @dim-big @dim-big;
}

.endpoints {
    padding: @dim-big 0;
}

footer {
    margin-top: @dim-big;
    padding-top: @dim-big;
    color: @lightest;
    background-color: @darkMed;
    box-shadow: inset 0 @dim-small @dim-small -@dim-small black;
}

footer ul {
    padding-left: 1px;
}

footer ul li {
    list-style-type: none;
    vertical-align: middle;
}

footer h4 {
    font-weight: 100;
}

footer a {
    color: @lightest;
    font-weight: bold;
}

footer h4 a {
    font-weight: 100;
    text-decoration: none;
}

footer a:hover {
    color: @darkr;
    text-decoration: none;
}

footer .row img {
    filter: grayscale(100%) drop-shadow(0 0 @dim-small @dark);
}

footer .row img:hover {
    filter: grayscale(100%) invert(64%) drop-shadow(0 0 @dim-small @darkMed);
}

footer footer {
    background-color: @dark;
    padding-bottom: @dim-big;
}

footer footer h4 {
    color: @lightest;
    font-weight: bolder;
}

footer footer a {
    text-decoration: none;
}

footer footer a h4 {
    color: @darkr;
    text-shadow: 0 0 @dim-med @darkMed;
}

footer footer img {
    filter: grayscale(100%) drop-shadow(0 0 @dim-small @darker) invert(72%);
}

footer footer a:hover * {
    color: @light;
    filter: grayscale(100%) drop-shadow(0 0 @dim-small @darker);
}

.jumbotron {
    background-size: auto 100px;
    background: url("../img/gemmaLogo.png") no-repeat 5% 60%;
}

.jumbotron .container h1 {
    font-weight: bolder;
    font-size: 350%;
    color: white;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 6px 1px rgba(0, 0, 0, .1),
    0 0 5px rgba(0, 0, 0, .1),
    0 1px 3px rgba(0, 0, 0, .3),
    0 3px 5px rgba(0, 0, 0, .2),
    0 5px 10px rgba(0, 0, 0, .25),
    0 10px 10px rgba(0, 0, 0, .2),
    0 20px 20px rgba(0, 0, 0, .15);
}

#mainContent .endpoint {
    padding: @dim-med 0;
}

#mainContent .endpoint:nth-child(odd) {
    background: @light;
}

.endpoint h4 {
    height: 25px;
    overflow: visible;
    vertical-align: middle;
    line-height: normal;
}

.endpoint .header {
    cursor: pointer;
}

.endpoint .header h4 {
    display: inline-block;
}

.endpoint .header .description {
    display: inline-flex;
    margin-left: @dim-big;
}

.endpoint .header .glyphicon, .endpointsGroupTitle .glyphicon {
    display: inline-block;
    font-size: 130%;
    color: @dark;
}

.endpointsGroupTitle {
    cursor: pointer;
}

.endpointsGroupTitle .glyphicon {
    font-size: 150%;
}

.endpointsGroupTitle h3 {
    display: inline-block;
}

.welcome {
    //padding-bottom: @dim-med;
}

.rowPad {
    padding-bottom: @dim-big;
}

.paramRow {
    margin-bottom: @dim-small;
}

//Copied from bootstrap.css pre element
.preLike {
    display: block;
    padding: 9.5px;
    margin: 0 0 20px;
    font-size: 13px;
    line-height: 1.42857143;
    color: @codeBg;
    word-break: normal;
    word-wrap: break-word;
    background-color: @light;
    border: 1px solid @darkMed;
    border-radius: 4px;

    font-family: monospace, monospace;
}

.preLike code {
    padding: 0;
    font-size: inherit;
    color: mediumvioletred;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
}

.codePanel {
    background: @codeBg;
    border: none;
    box-shadow: 0 0 @dim-small @dark;
}

.codePanel .panel-heading {
    background: @light;
    border: none;
    font-size: 120%;
    font-weight: bolder;
}

.codePanel .panel-body {
    height: 300px;
    overflow: auto;
}

.codeSample {
    background: @codeBg;
    border: none;
    overflow: visible;
}

.responseCol {
    max-width: 100%;
}

.responseHeader {
    width: 100%;
    max-width: 100%;
}

.response {
    height: 100%;
    max-height: 300px;
    width: 100%;
    overflow: auto;
}

.badge {
    border-radius: 5px;
    padding: 5px;
    color: @lightest;
    font-weight: 900;
    font-size: 80%;
}

.badge.invisible {
    background-color: rgba(255, 255, 255, 0);
}

.apiError {
    background: red;
}

.apiOk {
    background-color: limegreen;
}

.info {
    color: royalblue;
}

/* Browser Upgrade Prompt */

.browserUpgrade {
    background: @warning;
    color: @darkest;
}

/* Bootstrap tweaks */

.row.is-flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

/*
* FIXME Use a preprocessor for auto-prefixing.
*/
.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

