/*
 * Author: Stepan Tesar
 * Using LESS CSS Compiler Plugin for the IntelliJ Platform: https://github.com/acdvorak/intellij-lessc-plugin
 */

@darkest: black;
@darker: #2b2b2b;
@darkr: #434343;
@dark: #737373;
@dark-med: #9b9b9b;
@light: #f5f5f5;
@lightest: white;

@bs-warning: #ffda4a;
@bs-warning-border: #8a6d3b;
@warning: gold;
@code-bg: #333;
@blue-darkest: #0e8dbc;
@blue-dark: #179abc;
@blue-med: #cdffcd;

@dim-tiny: 2px;
@dim-small: 5px;
@dim-med: 10px;
@dim-big: 20px;

/* Base layout settings */

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-flow: column;
}

header {
    background: linear-gradient(to right, @blue-darkest, @blue-dark);
    flex: 0 1 auto;
}

#main-content {
    flex: 1 1 auto;
}

footer {
    flex: 0 1 auto;
}

h2 {
    margin-left: -40px;
}

/*

Styling settings

*/

pre, .pre-like.response {
    background-color: @lightest;
}

header {
    padding-top: @dim-big;
    box-shadow: inset 0 -@dim-small @dim-small -@dim-small black;
}

.jumbotron {
    background-size: auto 100px;
    background: url("../img/gemmaLogo.png") no-repeat 5% 60%;
}

@media (max-width: 767px) {
    .jumbotron .container {
        padding-left: 25%;
    }

    .response-col {
        width: 100%;
    }

    .alert-warning {
        &:before {
            display: none;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .jumbotron .container {
        padding-left: 20%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .jumbotron .container {
        padding-left: 20%;
    }
}

@media (min-width: 1200px) and (max-width: 1599px) {
    .jumbotron .container {
        padding-left: 200px;
    }
}

@media (min-width: 1600px) {
    .jumbotron .container {
        padding-left: auto;
    }
}

.jumbotron .container h1 {
    font-weight: bolder;
    font-size: 350%;
    color: white;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 6px 1px rgba(0, 0, 0, .1),
    0 0 5px rgba(0, 0, 0, .1),
    0 1px 3px rgba(0, 0, 0, .3),
    0 3px 5px rgba(0, 0, 0, .2),
    0 5px 10px rgba(0, 0, 0, .25),
    0 10px 10px rgba(0, 0, 0, .2),
    0 20px 20px rgba(0, 0, 0, .15);
}

.welcome {
    background: @light;
    padding: @dim-big 0;
    box-shadow: inset 0 -@dim-small @dim-small -@dim-small black;
}

.code-samples {
    padding: @dim-big 0;
    box-shadow: inset 0 -@dim-small @dim-small -@dim-small black;
}

.code-samples .container-fluid {
    padding: @dim-big @dim-big;
}

.endpoints {
    padding: @dim-big 0;
}

footer {
    margin-top: @dim-big;
    padding-top: @dim-big;
    color: @lightest;
    background-color: @dark-med;
    box-shadow: inset 0 @dim-small @dim-small -@dim-small black;
}

footer ul {
    padding-left: 1px;
}

footer ul li {
    list-style-type: none;
    vertical-align: middle;
}

footer h4 {
    font-weight: 100;
}

footer a {
    color: @lightest;
    font-weight: bold;
}

footer h4 a {
    font-weight: 100;
    text-decoration: none;
}

footer a:hover {
    color: @darker;
    text-decoration: none;
}

footer .row img {
    filter: grayscale(100%);
}

footer .row img:hover {
    filter: grayscale(100%) invert(70%);
}

footer footer {
    background-color: @dark;
    padding-bottom: @dim-big;
}

footer footer h4 {
    color: @lightest;
    font-weight: bolder;
}

footer footer a {
    text-decoration: none;
}

footer footer a h4 {
    color: @darker;
}

footer footer img {
    filter: grayscale(100%) invert(80%);
}

footer footer a:hover * {
    color: @light;
    filter: grayscale(100%);
}

#main-content .endpoint {
    padding: @dim-med 0;
}

#main-content .endpoint:nth-child(odd) {
    background: @light;
}

.endpoint h4 {
    height: 25px;
    overflow: visible;
    vertical-align: middle;
    line-height: normal;
}

.endpoint .header {
    cursor: pointer;
}

.endpoint .header h4 {
    display: inline-block;
}

.endpoint .header .description {
    display: inline-flex;
    margin-left: @dim-big;
}

.endpoint .header .glyphicon, .endpoints-group-title .glyphicon {
    display: inline-block;
    font-size: 130%;
    color: @dark;
}

.access-auth, .endpoint .header .access-auth {
    color: darkorange;
}

.access-admin, .endpoint .header .access-admin {
    color: red;
}

.endpoints-group-title {
    cursor: pointer;
}

.endpoints-group-title .glyphicon {
    font-size: 150%;
    margin-left: -40px;
}

.endpoints-group-title h3 {
    display: inline-block;
}

.welcome {
    //padding-bottom: @dim-med;
}

.row-pad {
    padding-bottom: @dim-big;
}

.param-row {
    margin-bottom: @dim-small;
}

//Copied from bootstrap.css pre element
.pre-like {
    display: block;
    padding: 9.5px;
    margin: 0 0 20px;
    font-size: 13px;
    line-height: 1.42857143;
    color: @code-bg;
    word-break: normal;
    word-wrap: break-word;
    background-color: @light;
    border: 1px solid @dark-med;
    border-radius: 4px;

    font-family: monospace, monospace;
}

.pre-like code {
    padding: 0;
    font-size: inherit;
    color: mediumvioletred;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
}

.pre-like table {
    width: 100%;
}

.pre-like table tr th,
.pre-like table tr td {
    padding-right: @dim-small;
}

.pre-like table tr:nth-child(2n+3) {
    background-color: @lightest;
    color: @darkr;
}

.pre-like .description-frow {
    font-weight: bolder;
}

.pre-like .description-imp {
    font-weight: bolder;
    color: darkred;
}

.pre-like .glyphicon {
    font-size: 150%;
}

.btn-response-desc:extend(.pre-like) {
    padding: 7px;
    width: 100%;
}

.btn-response-desc-mock:extend(.btn-response-desc) {
    display: inline;
    width: auto;
}

.code-panel {
    background: @code-bg;
    border: none;
    box-shadow: 0 0 @dim-small @dark;
}

.code-panel .panel-heading {
    background: @light;
    border: none;
    font-size: 120%;
    font-weight: bolder;
}

.code-panel .panel-body {
    height: 300px;
    overflow: auto;
}

.code-sample {
    background: @code-bg;
    border: none;
    overflow: visible;
}

.response-header {
    width: 100%;
    max-width: 100%;
}

.response {
    height: 100%;
    max-height: 300px;
    width: 100%;
    overflow: auto;
}

.badge {
    border-radius: 5px;
    padding: 5px;
    color: @lightest;
    font-weight: 900;
    font-size: 80%;
}

.badge.invisible {
    background-color: rgba(255, 255, 255, 0);
}

.alert-warning {
    border: none;
    box-shadow: 1px 1px 0 @bs-warning-border;
    &:before {
        content: "\e209";
        //noinspection CssNoGenericFontName //Do not render if glyphicons are not available
        font-family: "glyphicons halflings";
        position: absolute;
        margin-left: -60px;
        margin-top: -23px;
        font-size: 400%;
        color: @bs-warning;
        text-shadow: 0 0 0;
        height: 100%;
    }
}

.apiError {
    background: red;
}

.apiOk {
    background-color: limegreen;
}

.info {
    color: royalblue;
}

/* Browser Upgrade Prompt */

.browser-upgrade {
    background: @warning;
    color: @darkest;
}

/* Bootstrap tweaks */

.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

/*
* FIXME Use a preprocessor for auto-prefixing.
*/
.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

