<!doctype html>
<!-- Author: Stepan Tesar, Pavlidis Lab - UBC -->
<html class="no-js" lang="" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Gemma REST API interactive documentation</title>

        <meta name="description"
              content="This website documents the usage of the Gemma REST API.
              Here you can find example script usage of the API, as well as graphical
              interface for each endpoint, with description of its parameters and the endpoint URL"
        >
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="copyright" content="University of British Columbia">

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="favicon-96x96.png">

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/bootstrap-theme.css">
        <link rel="stylesheet" href="css/prettify.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>

        <header>
            <!--[if lte IE 9]>
            <div class="modal-header browser-upgrade">
                <p>
                    You are using an <strong>outdated</strong> browser.
                    Please <a href="https://browsehappy.com/">upgrade your browser</a>
                    to improve your experience and security.
                </p>
            </div>
            <![endif]-->

            <div class="jumbotron">
                <div class="container">
                    <h1>Gemma REST&#160;API interactive <span style="display:inline-block">documen&shy;tation</span></h1>
                </div>
            </div>
        </header>

        <div id="main-content">

            <div class="welcome">
                <div class="container">
                    <h2>Welcome</h2>
                    <p>This website documents the usage of the <a href="http://gemma.msl.ubc.ca/rest/v2/"
                                                                  target="_blank">Gemma REST API</a>. Here
                        you can find example script usage of the API, as well as graphical interface for each
                        endpoint, with description of its parameters and the endpoint URL.</p>
                    <p>To display information about any parameter, click this button:
                        <button class="btn btn-info"><span class="glyphicon glyphicon-info-sign"></span></button>
                        next to the parameter field.
                    </p>
                    <p>The documentation of the underlying java code can be found <a
                        href="http://gemma.msl.ubc.ca/resources/apidocs/ubic/gemma/web/services/rest/package-summary.html">here</a>.
                        See the <a href="#footer">links section</a> in the footer of this page for other relevant links.
                    </p>
                    <div class="alert alert-warning">
                        <p>
                            The current release of the REST API does not have an authentication system implemented yet,
                            which causes some of the endpoints to filter out results that require authorized access.
                        </p>
                        <p>
                            These are notably experiments and platforms that are marked as unusable or private, and it
                            is unlikely you would want them included in your data processing in the first place ('not
                            a bug, but a feature!').
                        </p>
                        <p>
                            Current work-around is to go to <a href="http://gemma.msl.ubc.ca/">the Gemma
                            website</a> and log in. This will create an authorized session that will be applied to the
                            API calls from this web-site as well.
                        </p>
                        <p>
                            Note that this authorization does not extend beyond your browser (e.g. calls from scripts).
                        </p>
                    </div>
                </div>
            </div>

            <div class="code-samples">
                <div class="container">
                    <h2>Code samples</h2>
                    <p>Examples of the API usage in scripts.</p>
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="panel panel-default code-panel">
                                <div class="panel-heading">
                                    Python
                                </div>
                                <div class="panel-body">
                                <pre class="prettyprint code-sample">
                                    {{ pythonExample }}
                                </pre>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="panel panel-default code-panel">
                                <div class="panel-heading">
                                    R
                                </div>
                                <div class="panel-body">
                                <pre class="prettyprint code-sample">
                                    {{ rExample }}
                                </pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="endpoints">

                <div class="container">
                    <h2>API Endpoints</h2>
                    <p>List of all API endpoints, with a GUI for test calls.</p>
                    <p>Click on the endpoint category to expand it, and then on each endpoint name to see its interface
                        and
                        parameters.</p>
                </div>

                <endpoint :name="'Root endpoint'"
                          :description="'Displays a welcome message'"
                          :query-params="[]"
                          :path-params="[]"
                          :endpoint-url-base="''">
                </endpoint>

                <hr>

                <div class="container endpoints-group-title" v-on:click=" showDatasets = !showDatasets">
                <span
                    v-bind:class="[showDatasets ? 'glyphicon-collapse-up' : 'glyphicon-collapse-down', 'glyphicon']"></span>
                    <h3>Dataset endpoints</h3>
                    <p>Endpoints accessing datasets (i.e. expression experiments), and their associated properties and
                        files</p>
                </div>

                <div id="datasetEndpoints" v-show="showDatasets">

                    <endpoint :name="'Datasets'"
                              :description="'Lists datasets filtered and organized by given parameters'"
                              :query-params="getDatasetsAllQueryParams()"
                              :path-params="[getDatasetsParam()]"
                              :endpoint-url-base="'datasets/%1'">
                    </endpoint>

                    <endpoint :name="'Dataset platforms'"
                              :description="'Retrieves platforms for the given dataset'"
                              :query-params="[]"
                              :path-params="[getDatasetParam()]"
                              :endpoint-url-base="'datasets/%1/platforms'">
                    </endpoint>

                    <endpoint :name="'Dataset samples'"
                              :description="'Retrieves samples for the given dataset'"
                              :query-params="[]"
                              :path-params="[getDatasetParam()]"
                              :endpoint-url-base="'datasets/%1/samples'">
                    </endpoint>

                    <endpoint :name="'Dataset differential analysis'"
                              :description="'Retrieves the differential analysis results for the given dataset'"
                              :query-params="getDatasetsDiffAnalQueryParams()"
                              :path-params="[getDatasetParam()]"
                              :endpoint-url-base="'datasets/%1/analyses/differential'">
                    </endpoint>

                    <endpoint :name="'Dataset annotations'"
                              :description="'Retrieves the annotations for the given dataset'"
                              :query-params="[]"
                              :path-params="[getDatasetParam()]"
                              :endpoint-url-base="'datasets/%1/annotations'">
                    </endpoint>

                    <endpoint :name="'Dataset data'"
                              :description="'Retrieves the data for the given dataset'"
                              :query-params="getDatasetsDataQueryParams()"
                              :path-params="[getDatasetParam()]"
                              :endpoint-url-base="'datasets/%1/data'"
                              :json-response="false">
                    </endpoint>

                    <endpoint :name="'Dataset design'"
                              :description="'Retrieves the design for the given dataset'"
                              :query-params="[]"
                              :path-params="[getDatasetParam()]"
                              :endpoint-url-base="'datasets/%1/design'"
                              :json-response="false">
                    </endpoint>

                    <endpoint :name="'Datasets genes expression levels'"
                              :description="'Retrieves the expression levels of given genes for given datasets'"
                              :query-params="[]"
                              :path-params="[getDatasetsExpressParam(),getGenesExpressParam()]"
                              :endpoint-url-base="'datasets/%1/expressions/genes/%2'">
                    </endpoint>

                    <endpoint :name="'Datasets pca component expression levels'"
                              :description="'Retrieves the expression levels of given pca component for given datasets'"
                              :query-params="[getPcaComponentParam(),getExpressLimitParam()]"
                              :path-params="[getDatasetsExpressParam()]"
                              :endpoint-url-base="'datasets/%1/expressions/pca'">
                    </endpoint>

                    <endpoint :name="'Datasets differential expression levels'"
                              :description="'Retrieves differential expression levels for given datasets'"
                              :query-params="[getDiffExSetParam(),getThresholdParam(),getExpressLimitParam()]"
                              :path-params="[getDatasetsExpressParam()]"
                              :endpoint-url-base="'datasets/%1/expressions/differential'">
                    </endpoint>

                    <div class="row-pad"></div>

                </div>

                <hr>

                <div class="container endpoints-group-title" v-on:click=" showPlatforms = !showPlatforms">
                <span
                    v-bind:class="[showPlatforms ? 'glyphicon-collapse-up' : 'glyphicon-collapse-down', 'glyphicon']"></span>
                    <h3>Platform endpoints</h3>
                    <p>Endpoints accessing platforms, and their associated properties and files</p>
                </div>

                <div id="platformEndpoints" v-show="showPlatforms">

                    <endpoint :name="'Platforms'"
                              :description="'List platforms filtered and organized by given parameters'"
                              :query-params="getDatasetsAllQueryParams()"
                              :path-params="[getPlatformsParam()]"
                              :endpoint-url-base="'platforms/%1'">
                    </endpoint>

                    <endpoint :name="'Platform datasets'"
                              :description="'Retrieves experiments in the given platform'"
                              :query-params="getOffsetLimitQueryParams()"
                              :path-params="[getPlatformParam()]"
                              :endpoint-url-base="'platforms/%1/datasets/'">
                    </endpoint>

                    <endpoint :name="'Platform elements'"
                              :description="'Retrieves the composite sequences (elements) for the given platform'"
                              :query-params="getOffsetLimitQueryParams()"
                              :path-params="[getPlatformParam(),getProbesParam()]"
                              :endpoint-url-base="'platforms/%1/elements/%2'">
                    </endpoint>

                    <endpoint :name="'Platform element genes'"
                              :description="'Retrieves the genes on the given platform element'"
                              :query-params="getOffsetLimitQueryParams()"
                              :path-params="getPlatformsElementPathParams()"
                              :endpoint-url-base="'platforms/%1/elements/%2/genes/'">
                    </endpoint>

                    <endpoint :name="'Platform annotations'"
                              :description="'Retrieves the annotation file for the given platform'"
                              :query-params="[]"
                              :path-params="[getPlatformAnnotParam()]"
                              :endpoint-url-base="'platforms/%1/annotations/'"
                              :json-response="false">
                    </endpoint>

                    <div class="row-pad"></div>

                </div>

                <hr>

                <div class="container endpoints-group-title" v-on:click=" showGenes = !showGenes">
                <span
                    v-bind:class="[showGenes ? 'glyphicon-collapse-up' : 'glyphicon-collapse-down', 'glyphicon']"></span>
                    <h3>Gene endpoints</h3>
                    <p>Endpoints accessing genes (non taxon-specific). Most endpoints also have a
                        taxon-specific counterpart in the 'Taxa endpoints'.</p>
                </div>

                <div id="geneEndpoints" v-show="showGenes">

                    <div class="container">
                        <div class="alert alert-warning">
                            Please be aware that the 'Official symbol' identifier of a gene refers to a set of
                            gene homologues.
                            Using the official symbol as a gene parameter for these endpoints will yield an arbitrary
                            homologue (likely the same one every time, but that is not guaranteed).
                            Use the methods from the 'Taxa endpoints' if you want to use the official symbol for a
                            specific
                            homologue.
                        </div>
                    </div>

                    <endpoint :name="'Genes'"
                              :description="'Retrieves all genes matching the identifier'"
                              :query-params="[]"
                              :path-params="[getGenesParam()]"
                              :endpoint-url-base="'genes/%1'">
                    </endpoint>

                    <endpoint :name="'Gene evidence'"
                              :description="'Retrieves gene evidence for the given gene'"
                              :query-params="[]"
                              :path-params="[getGeneParam()]"
                              :endpoint-url-base="'genes/%1/evidence'">
                    </endpoint>

                    <endpoint :name="'Gene locations'"
                              :description="'Retrieves the physical location of the given gene'"
                              :query-params="[]"
                              :path-params="[getGeneParam()]"
                              :endpoint-url-base="'genes/%1/locations'">
                    </endpoint>

                    <endpoint :name="'Gene probes'"
                              :description="'Retrieves the probes (composite sequences) with this gene'"
                              :query-params="getOffsetLimitQueryParams()"
                              :path-params="[getGeneParam()]"
                              :endpoint-url-base="'genes/%1/probes'">
                    </endpoint>

                    <endpoint :name="'Gene goTerms'"
                              :description="'Retrieves the GO terms of the given gene'"
                              :query-params="[]"
                              :path-params="[getGeneParam()]"
                              :endpoint-url-base="'genes/%1/goTerms'">
                    </endpoint>

                    <endpoint :name="'Gene coexpression'"
                              :description="'Retrieves the coexpression of two given genes'"
                              :query-params="getGeneCoexpQueryParams()"
                              :path-params="[getGeneParam()]"
                              :endpoint-url-base="'genes/%1/coexpression'">
                    </endpoint>

                    <div class="row-pad"></div>

                </div>

                <hr>

                <div class="container endpoints-group-title" v-on:click=" showTaxa = !showTaxa">
                <span
                    v-bind:class="[showTaxa ? 'glyphicon-collapse-up' : 'glyphicon-collapse-down', 'glyphicon']"></span>
                    <h3>Taxa endpoints</h3>
                    <p>Endpoints accessing data for specific taxa. E.g: Taxon-specific genes or datasets</p>
                </div>

                <div id="taxaEndpoints" v-show="showTaxa">
                    <endpoint :name="'Taxa'"
                              :description="'List taxa filtered by given parameters'"
                              :query-params="[]"
                              :path-params="[getTaxaParam()]"
                              :endpoint-url-base="'taxa/%1'">l
                    </endpoint>

                    <endpoint :name="'Taxon datasets'"
                              :description="'Retrieves datasets for the given taxon.'"
                              :query-params="getDatasetsAllQueryParams()"
                              :path-params="[getTaxonParam()]"
                              :endpoint-url-base="'taxa/%1/datasets'">
                    </endpoint>

                    <endpoint :name="'Taxon phenotypes'"
                              :description="'Loads all phenotypes for the given taxon.'"
                              :query-params="[getEditableParam(), getTreeParam()]"
                              :path-params="[getTaxonParam()]"
                              :endpoint-url-base="'taxa/%1/phenotypes'">
                    </endpoint>

                    <endpoint :name="'Taxon phenotypes candidate genes'"
                              :description="'Given a set of phenotypes, return all genes associated with them.'"
                              :query-params="[getEditableParam(), getPhenotypesParam()]"
                              :path-params="[getTaxonParam()]"
                              :endpoint-url-base="'taxa/%1/phenotypes/candidates'">
                    </endpoint>

                    <endpoint :name="'Gene on specific taxon'"
                              :description="'Retrieves genes matching the identifier on the given taxon.'"
                              :query-params="[]"
                              :path-params="[getTaxonParam(), getGeneParam()]"
                              :endpoint-url-base="'taxa/%1/genes/%2'">
                    </endpoint>

                    <endpoint :name="'Gene evidence on specific taxon'"
                              :description="'Retrieves gene evidence for the gene on the given taxon.'"
                              :query-params="[]"
                              :path-params="[getTaxonParam(), getGeneParam()]"
                              :endpoint-url-base="'taxa/%1/genes/%2/evidence'">
                    </endpoint>

                    <endpoint :name="'Gene location on specific taxon'"
                              :description="'Retrieves gene evidence for the gene on the given taxon.'"
                              :query-params="[]"
                              :path-params="[getTaxonParam(), getGeneParam()]"
                              :endpoint-url-base="'taxa/%1/genes/%2/locations'">
                    </endpoint>

                    <endpoint :name="'Genes at location'"
                              :description="'Finds genes overlapping a given region.'"
                              :query-params="[getStrandParam(), getStartParam(), getSizeParam()]"
                              :path-params="[getTaxonParam(), getChromosomeParam()]"
                              :endpoint-url-base="'taxa/%1/chromosomes/%2/genes'">
                    </endpoint>
                </div>

                <hr>

                <div class="container endpoints-group-title" v-on:click=" showOther = !showOther">
                <span
                    v-bind:class="[showOther ? 'glyphicon-collapse-up' : 'glyphicon-collapse-down', 'glyphicon']"></span>
                    <h3>Other endpoints</h3>
                    <p>Annotations, search, etc.</p>
                </div>

                <div id="otherEndpoints" v-show="showOther">

                    <endpoint :name="'Annotation search'"
                              :description="'Does a search for annotations based on the given string'"
                              :query-params="[]"
                              :path-params="[getSearchParam()]"
                              :endpoint-url-base="'annotations/search/%1'">
                    </endpoint>

                    <endpoint :name="'Dataset search'"
                              :description="'Does a search for datasets containing annotations matching the given string'"
                              :query-params="[]"
                              :path-params="[getSearchParam()]"
                              :endpoint-url-base="'annotations/search/%1/datasets'">
                    </endpoint>

                    <endpoint :name="'Evidence'"
                              :description="'Finds all evidence with the given external database name'"
                              :query-params="getEvidenceQueryParams()"
                              :path-params="[]"
                              :endpoint-url-base="'phenotypes/evidence/'">
                    </endpoint>

                    <endpoint :name="'Dumps'"
                              :description="'Retrieves information about external data sources from Phenocarta, including URLs and timestamps of the most recent update dates/times'"
                              :query-params="[]"
                              :path-params="[]"
                              :endpoint-url-base="'phenotypes/dumps/'">
                    </endpoint>

                    <div class="row-pad"></div>

                </div>

            </div>

        </div>

        <footer>
            <div class="container">
                <div class="row">
                    <a id="footer"></a>
                    <div class="col-xs-4 text-center">
                        <a href="http://gemma-doc.chibi.ubc.ca/" target="_blank" title="Gemma user manual">
                            <img class="whiten" src="img/gemmaLogo.png" height="96"></a>
                        <a href="https://github.com/ppavlidis/Gemma" target="_blank" title="GitHub project">
                            <img src="img/githubLogo.png" height="64"></a>
                    </div>
                    <div class="col-xs-4">
                        <h4>Gemma</h4>
                        <ul>
                            <li><a href="http://gemma.msl.ubc.ca" target="_blank">
                                Website</a></li>
                            <li><a href="http://gemma-doc.chibi.ubc.ca/" target="_blank">
                                User manual & blog </a></li>
                            <li><a href="http://gemma.msl.ubc.ca/resources/apidocs/" target="_blank">
                                Code documentation</a></li>
                            <li><a href="https://github.com/ppavlidis/Gemma" target="_blank">
                                GitHub project</a></li>
                            <li><a href="http://gemma.msl.ubc.ca/rest/v2/" target="_blank">
                                REST API Root</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-4">
                        <h4>Other links</h4>
                        <ul>
                            <li>
                                <a href="https://www.chibi.ubc.ca/faculty/paul-pavlidis/pavlidis-lab/" target="_blank">
                                    The lab
                                </a>
                            </li>
                            <li>
                                <a href="https://www.chibi.ubc.ca/faculty/paul-pavlidis/pavlidis-lab/software-and-resources/"
                                   target="_blank">
                                    Other software
                                </a>
                            </li>
                        </ul>
                        <h4>Contact</h4>
                        <ul>
                            <li><a href="mailto:gemma@chibi.ubc.ca" target="_blank">Email</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <footer>
                <div class="container text-center">
                    <a href="http://www.ubc.ca/" target="_blank" title="UBC home page">
                        <h4>Copyright &copy; 2017 University of British Columbia</h4>
                        <img src="img/ubcLogo.png" height="100px">
                    </a>
                </div>
            </footer>
        </footer>

        <!-- Vue templates -->
        <script type="text/x-template" id="endpoint-template">
            <div class="endpoint">
                <div class="container">
                    <div class="header" v-on:click=" show= !show ">
                        <span
                            v-bind:class="[show ? 'glyphicon-collapse-up' : 'glyphicon-collapse-down', 'glyphicon']"></span>
                        <h4>{{ name }}</h4>
                        <span class="description">{{ description }}</span>
                    </div>
                    <div class="row apiRow is-flex" v-if="show">
                        <div class="col-sm-6">
                            <h5>Parameters:<span class="badge invisible"><span class="glyphicon">&#160;</span></span>
                            </h5>
                            <form v-on:submit.prevent="">
                                <div v-for="param in pathParams" class="param-row">
                                    <api-param :param="param"></api-param>
                                </div>

                                <div v-for="param in queryParams" class="param-row">
                                    <api-param :param="param"></api-param>
                                </div>

                                <div v-if="pathParams.length == 0 && queryParams.length == 0" class="param-row">
                                    <span class="pre-like">No parameters</span>
                                </div>

                                <div class="pre-like">{{ completeUrl }}</div>

                                <button class="btn btn-primary" v-on:click="getResponse"
                                        title="Executes the call and displays the response in the response panel.">Call
                                    API
                                </button>
                                <a v-bind:href="completeUrl" class="btn" target="_blank"
                                   title="Calls the query in a new tab and lets your browser handle the response.">
                                    Open link <span class="glyphicon glyphicon-link"></span>
                                </a>
                            </form>
                        </div>
                        <div class="col-sm-6 response-col">
                            <div class="response-header">
                                <h5>Response:
                                    <span v-if="status!=null" v-bind:class="[isError ? 'apiError' : 'apiOk', 'badge']"
                                          title="Response status code">
                                        {{ status }}
                                        <span v-if="status!=null"
                                              v-bind:class="[isError ? 'glyphicon-remove' : 'glyphicon-ok', 'glyphicon']">
                                        </span>
                                    </span>
                                    <span v-if="status!=null && jsonResponse" class="badge">
                                        JSON <span class="glyphicon glyphicon-file"></span>
                                    </span>
                                    <span v-if="status!=null && !jsonResponse" class="badge">
                                        TEXT FILE <span class="glyphicon glyphicon-file"></span>
                                    </span>
                                    <span class="badge invisible"><span class="glyphicon">&#160;</span></span>
                                </h5>
                            </div>
                            <pre v-if="loadingMsgFull != null" class="response">{{ loadingMsgFull }}</pre>
                            <tree-view v-else-if="jsonResponse" class="pre-like response" :data="response"
                                       :options="{maxDepth: 2, rootObjectKey: ''}"></tree-view>
                            <pre v-else class="response">{{ response }}</pre>
                        </div>
                    </div>
                </div>
            </div>
        </script>

        <script type="text/x-template" id="api-param-template">
            <div>
                <label hidden
                       v-bind:for="$parent.name.replace(/ /g,'') + '.' + param.name ">{{ param.name }}</label>

                <div class="input-group" v-bind:class="[param.required ? 'has-warning' : '' ]"
                     v-bind:title="param.required ? 'Required' : 'Optional' ">
                    <span class="input-group-addon">{{ param.name }} = </span>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input class="form-control" v-model="param.value" v-on:change="$parent.computeUrl()"
                           v-bind:id="$parent.name.replace(/ /g,'') + '.' + param.name "
                           v-on:keyup="$parent.keyMonitor"
                           v-on:keypress.enter.prevent=""
                    >
                    <span class="input-group-btn">
                        <button class="btn btn-info" v-on:click=" showInfo = !showInfo ">
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </button>
                    </span>
                </div>

                <div class="pre-like" v-if="showInfo" v-html="param.description"></div>
            </div>
        </script>

        <!-- Vue init -->
        <script src="js/vue/conf.js"></script>
        <script src="js/vue/descriptions.js"></script>
        <script src="js/vue/codeSamples.js"></script>
        <script src="https://vuejs.org/js/vue.min.js"></script>
        <!--<script src="https://unpkg.com/vue"></script>-->
        <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
        <script src="js/vendor/vue-json-tree-view.min.js"></script>
        <script src="js/vue/app.js"></script>
        <!-- Other scripts -->
        <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
        <script src="js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="js/plugins.js"></script>

        <!--<script>-->
        <!--window.ga = function () {-->
        <!--ga.q.push(arguments)-->
        <!--};-->
        <!--ga.q = [];-->
        <!--ga.l = +new Date;-->
        <!--ga('create', 'UA-XXXXX-Y', 'auto');-->
        <!--ga('send', 'pageview')-->
        <!--</script>-->
        <!--<script src="https://www.google-analytics.com/analytics.js" async defer></script>-->
    </body>
</html>
