<!doctype html>
<html class="no-js" lang="" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Gemma REST API interactive documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/bootstrap-theme.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>

        <header>
            <!--[if lte IE 9]>
            <div class="modal-header browserUpgrade">
                <p>
                    You are using an <strong>outdated</strong> browser.
                    Please <a href="https://browsehappy.com/">upgrade your browser</a>
                    to improve your experience and security.
                </p>
            </div>
            <![endif]-->

            <div class="jumbotron">
                <div class="container">
                    <h1>Gemma REST&#160;API interactive documentation</h1>
                </div>
            </div>
        </header>

        <div id="mainContent">
            <div class="container welcome">
                <h3>Welcome</h3>
                <p>Here you can find description of each endpoint and its parameters, make calls to the api and see
                    the responses as a formatted json text.</p>
                <p>The documentation of the underlying java code can be found <a
                    href="http://www.chibi.ubc.ca/Gemma/resources/apidocs/ubic/gemma/web/services/rest/package-summary.html">here</a>.
                </p>
                <p>Click on the endpoint name to see its interface and parameter description.</p>

                <div class="alert alert-warning">
                    The current release of the REST API does not have an authentication system implemented yet, which
                    causes some of the endpoints to filter out results that require authorized access. Current
                    work-around
                    is to go to <a href="http://www.chibi.ubc.ca/Gemma/">the Gemma website</a> and log in. This will
                    create
                    an authorised session for your connection, that will be applied to the API calls as well.
                </div>
            </div>

            <hr>

            <div class="container endpointsGroupTitle" v-on:click=" showDatasets = !showDatasets">
                <span
                    v-bind:class="[showDatasets ? 'glyphicon-collapse-up' : 'glyphicon-collapse-down', 'glyphicon']"></span>
                <h2>Dataset endpoints</h2>
                <p>Endpoints accessing datasets (i.e. expression experiments), and their associated properties and
                    files</p>
            </div>

            <div id="datasetEndpoints" v-show="showDatasets">

                <endpoint :name="'All datasets'"
                          :description="'List all datasets'"
                          :query-params="getDatasetsAllQueryParams()"
                          :path-params="[]"
                          :endpoint-url-base="'datasets/'">
                </endpoint>

                <endpoint :name="'Specific dataset'"
                          :description="'Retrieves single dataset based on the given dataset identifier'"
                          :query-params="[]"
                          :path-params="[getDatasetParam()]"
                          :endpoint-url-base="'datasets/%1/'">
                </endpoint>

                <endpoint :name="'Dataset platforms'"
                          :description="'Retrieves platforms for the given dataset'"
                          :query-params="[]"
                          :path-params="[getDatasetParam()]"
                          :endpoint-url-base="'datasets/%1/platforms'">
                </endpoint>

                <endpoint :name="'Dataset samples'"
                          :description="'Retrieves samples for the given dataset'"
                          :query-params="[]"
                          :path-params="[getDatasetParam()]"
                          :endpoint-url-base="'datasets/%1/samples'">
                </endpoint>

                <endpoint :name="'Dataset differential analysis'"
                          :description="'Retrieves the differential analysis results for the given dataset'"
                          :query-params="getDatasetsDiffAnalQueryParams()"
                          :path-params="[getDatasetParam()]"
                          :endpoint-url-base="'datasets/%1/analyses/differential'">
                </endpoint>

                <endpoint :name="'Dataset annotations'"
                          :description="'Retrieves the annotations for the given dataset'"
                          :query-params="[]"
                          :path-params="[getDatasetParam()]"
                          :endpoint-url-base="'datasets/%1/annotations'">
                </endpoint>

                <endpoint :name="'Dataset data'"
                          :description="'Retrieves the data for the given dataset'"
                          :query-params="getDatasetsDataQueryParams()"
                          :path-params="[getDatasetParam()]"
                          :endpoint-url-base="'datasets/%1/data'">
                </endpoint>

                <endpoint :name="'Dataset design'"
                          :description="'Retrieves the design for the given dataset'"
                          :query-params="[]"
                          :path-params="[getDatasetParam()]"
                          :endpoint-url-base="'datasets/%1/design'">
                </endpoint>

                <div class="rowPad"></div>

            </div>

            <hr>

            <div class="container endpointsGroupTitle" v-on:click=" showPlatforms = !showPlatforms">
                <span
                    v-bind:class="[showPlatforms ? 'glyphicon-collapse-up' : 'glyphicon-collapse-down', 'glyphicon']"></span>
                <h2>Platform endpoints</h2>
                <p>Endpoints accessing platforms, and their associated properties and files</p>
            </div>

            <div id="platformEndpoints" v-show="showPlatforms">

                <endpoint :name="'All platforms'"
                          :description="'List all platforms'"
                          :query-params="getDatasetsAllQueryParams()"
                          :path-params="[]"
                          :endpoint-url-base="'platforms/'">
                </endpoint>

                <endpoint :name="'Specific platform'"
                          :description="'Retrieves single platform based on the given dataset identifier'"
                          :query-params="[]"
                          :path-params="[getPlatformParam()]"
                          :endpoint-url-base="'platforms/%1/'">
                </endpoint>

                <endpoint :name="'Platform datasets'"
                          :description="'Retrieves experiments in the given platform'"
                          :query-params="getOffsetLimitQueryParams()"
                          :path-params="[getPlatformParam()]"
                          :endpoint-url-base="'platforms/%1/datasets/'">
                </endpoint>

                <endpoint :name="'Platform elements'"
                          :description="'Retrieves the composite sequences (elements) for the given platform'"
                          :query-params="getOffsetLimitQueryParams()"
                          :path-params="[getPlatformParam()]"
                          :endpoint-url-base="'platforms/%1/elements/'">
                </endpoint>

                <endpoint :name="'Specific element on a platform'"
                          :description="'Retrieves a specific composite sequence (element) for the given platform'"
                          :query-params="[]"
                          :path-params="getPlatformsElementPathParams()"
                          :endpoint-url-base="'platforms/%1/elements/%2/'">
                </endpoint>

                <endpoint :name="'Platform element genes'"
                          :description="'Retrieves the genes on the given platform element'"
                          :query-params="getOffsetLimitQueryParams()"
                          :path-params="getPlatformsElementPathParams()"
                          :endpoint-url-base="'platforms/%1/elements/%2/genes/'">
                </endpoint>

                <endpoint :name="'Platform annotations'"
                          :description="'Retrieves the annotation file for the given platform'"
                          :query-params="[]"
                          :path-params="[getPlatformParam()]"
                          :endpoint-url-base="'platforms/%1/annotations/'">
                </endpoint>

                <div class="rowPad"></div>

            </div>

            <hr>

            <div class="container endpointsGroupTitle" v-on:click=" showGenes = !showGenes">
                <span
                    v-bind:class="[showGenes ? 'glyphicon-collapse-up' : 'glyphicon-collapse-down', 'glyphicon']"></span>
                <h2>Gene endpoints</h2>
                <p>Endpoints accessing genes (non taxon-specific). Most endpoints also have a
                    taxon-specific counterpart in the 'Taxa endpoints'.</p>
            </div>

            <div id="geneEndpoints" v-show="showGenes">

                <div class="container">
                    <div class="alert alert-warning">
                        Please be aware that the 'Official symbol' identifier of a gene refers to the set of homologues.
                        Using the official symbol as a gene parameter for these endpoints will yield a random homologue.
                        Use the methods from the 'Taxa endpoints' if you want to use the official symbol for a specific
                        homologue.
                    </div>
                </div>

                <endpoint :name="'Genes'"
                          :description="'Retrieves all genes matching the identifier'"
                          :query-params="[]"
                          :path-params="[getGeneParam()]"
                          :endpoint-url-base="'genes/%1'">
                </endpoint>

                <endpoint :name="'Gene evidence'"
                          :description="'Retrieves gene evidence for the given gene'"
                          :query-params="[]"
                          :path-params="[getGeneParam()]"
                          :endpoint-url-base="'genes/%1/evidence'">
                </endpoint>

                <endpoint :name="'Gene locations'"
                          :description="'Retrieves the physical location of the given gene'"
                          :query-params="[]"
                          :path-params="[getGeneParam()]"
                          :endpoint-url-base="'genes/%1/locations'">
                </endpoint>

                <endpoint :name="'Gene probes'"
                          :description="'Retrieves the probes (composite sequences) with this gene'"
                          :query-params="getOffsetLimitQueryParams()"
                          :path-params="[getGeneParam()]"
                          :endpoint-url-base="'genes/%1/probes'">
                </endpoint>

                <endpoint :name="'Gene goTerms'"
                          :description="'Retrieves the GO terms of the given gene'"
                          :query-params="[]"
                          :path-params="[getGeneParam()]"
                          :endpoint-url-base="'genes/%1/goTerms'">
                </endpoint>

                <endpoint :name="'Gene coexpression'"
                          :description="'Retrieves the coexpression of two given genes'"
                          :query-params="getGeneCoexpQueryParams()"
                          :path-params="[getGeneParam()]"
                          :endpoint-url-base="'genes/%1/goTerms'">
                </endpoint>

                <div class="rowPad"></div>

            </div>

            <hr>

            <div class="container endpointsGroupTitle" v-on:click=" showTaxa = !showTaxa">
                <span
                    v-bind:class="[showTaxa ? 'glyphicon-collapse-up' : 'glyphicon-collapse-down', 'glyphicon']"></span>
                <h2>Taxa endpoints</h2>
                <p>Endpoints accessing data for specific taxa. E.g: Taxon-specific genes or datasets</p>
            </div>

            <div id="taxaEndpoints" v-show="showTaxa">
                <endpoint :name="'All taxa'"
                          :description="'Lists all available taxa. Does not offer any advanced filtering or sorting functionality. The reason for this is that Taxa are a relatively small set of objects that rarely change.'"
                          :query-params="[]"
                          :path-params="[]"
                          :endpoint-url-base="'taxa/'">
                </endpoint>

                <endpoint :name="'Specific taxon'"
                          :description="'Retrieves single taxon based on the given identifier.'"
                          :query-params="[]"
                          :path-params="[getTaxonParam()]"
                          :endpoint-url-base="'taxa/'">
                </endpoint>
            </div>

            <hr>

            <div class="container endpointsGroupTitle" v-on:click=" showOther = !showOther">
                <span
                    v-bind:class="[showOther ? 'glyphicon-collapse-up' : 'glyphicon-collapse-down', 'glyphicon']"></span>
                <h2>Other endpoints</h2>
                <p>Endpoints accessing more general information that would not fit in other categories.</p>
            </div>

            <div id="otherEndpoints" v-show="showOther">

                <endpoint :name="'Annotation search'"
                          :description="'Does a search for ontology terms based on the given string'"
                          :query-params="[getTaxonSearchParam()]"
                          :path-params="[getSearchParam()]"
                          :endpoint-url-base="'annotations/search/%1'">
                </endpoint>

                <endpoint :name="'Evidence'"
                          :description="'Finds all evidence with the given external database name'"
                          :query-params="getEvidenceQueryParams()"
                          :path-params="[]"
                          :endpoint-url-base="'phenotypes/evidence/'">
                </endpoint>

                <endpoint :name="'Dumps'"
                          :description="'Retrieves information about external data sources from Phenocarta, including URLs and timestamps of the most recent update dates/times'"
                          :query-params="[]"
                          :path-params="[]"
                          :endpoint-url-base="'phenotypes/dumps/'">
                </endpoint>

                <div class="rowPad"></div>

            </div>

        </div>

        <footer>
            <div class="container">
                <p>Copyright &copy; 2017 University of British Columbia</p>
            </div>
        </footer>

        <!-- Vue templates -->
        <script type="text/x-template" id="endpoint-template">
            <div class="endpoint">
                <div class="container">
                    <div class="header" v-on:click=" show= !show ">
                        <span
                            v-bind:class="[show ? 'glyphicon-collapse-up' : 'glyphicon-collapse-down', 'glyphicon']"></span>
                        <h3> {{ name }}</h3>
                        <span class="description">{{ description }}</span>
                    </div>
                    <div class="row apiRow is-flex" v-if="show">
                        <div class="col-sm-6">
                            <h4>Parameters:<span class="badge invisible"><span class="glyphicon">&#160;</span></span>
                            </h4>
                            <form v-on:submit.prevent="">
                                <div v-for="param in pathParams" class="paramRow">
                                    <api-param :param="param"></api-param>
                                </div>

                                <div v-for="param in queryParams" class="paramRow">
                                    <api-param :param="param"></api-param>
                                </div>

                                <div class="preLike">{{ completeUrl }}</div>

                                <button class="btn btn-primary" v-on:click="getResponse">Call API</button>
                            </form>
                        </div>
                        <div class="col-sm-6 responseCol">
                            <div class="response">
                                <h4>Response:
                                    <span v-if="status!=null" v-bind:class="[isError ? 'apiError' : 'apiOk', 'badge']"
                                          title="Response status code">
                                        {{ status }}
                                        <span v-if="status!=null"
                                              v-bind:class="[isError ? 'glyphicon-remove' : 'glyphicon-ok', 'glyphicon']">
                                        </span>
                                    </span>
                                    <a v-if="rawResponse!=null" v-bind:href="completeUrl" target="_blank">
                                        <span class="badge" title="Re-runs the call in a new panel.">
                                            link <span class="glyphicon glyphicon-link"></span>
                                        </span>
                                    </a>
                                    <span class="badge invisible"><span class="glyphicon">&#160;</span></span>
                                </h4>
                            </div>
                            <pre v-if="loadingMsgFull != null" class="response">{{ loadingMsgFull }}</pre>
                            <pre v-else class="response">{{ response }}</pre>
                        </div>
                    </div>
                </div>
            </div>
        </script>

        <script type="text/x-template" id="api-param-template">
            <div>
                <label hidden
                       v-bind:for="$parent.name.replace(/ /g,'') + '.' + param.name ">{{ param.name }}</label>

                <div class="input-group" v-bind:class="[param.required ? 'has-warning' : '' ]"
                     v-bind:title="param.required ? 'Required' : 'Optional' ">
                    <span class="input-group-addon">{{ param.name }} = </span>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input class="form-control" v-model="param.value" v-on:change="$parent.computeUrl()"
                           v-bind:id="$parent.name.replace(/ /g,'') + '.' + param.name "
                    >
                    <span class="input-group-btn">
                        <button class="btn btn-info" v-on:click=" showInfo = !showInfo ">
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </button>
                    </span>
                </div>

                <div class="preLike" v-if="showInfo" v-html="param.description"></div>
            </div>
        </script>

        <!-- Vue init -->
        <script src="js/vue/descriptions.js"></script>
        <!-- TODO change for production -->
        <!--<script src="https://unpkg.com/min"></script>-->
        <script src="https://unpkg.com/vue"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
        <script src="js/vue/app.js"></script>
        <!-- Other scripts -->
        <script src="js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script>
            window.ga = function () {
                ga.q.push(arguments)
            };
            ga.q = [];
            ga.l = +new Date;
            ga('create', 'UA-XXXXX-Y', 'auto');
            ga('send', 'pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    </body>
</html>
