<!doctype html>
<html class="no-js" lang="" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Gemma REST API interactive documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/bootstrap-theme.css">
        <link rel="stylesheet" href="css/prettify.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>

        <header>
            <!--[if lte IE 9]>
            <div class="modal-header browserUpgrade">
                <p>
                    You are using an <strong>outdated</strong> browser.
                    Please <a href="https://browsehappy.com/">upgrade your browser</a>
                    to improve your experience and security.
                </p>
            </div>
            <![endif]-->

            <div class="jumbotron">
                <div class="container">
                    <h1>Gemma REST&#160;API interactive documentation</h1>
                </div>
            </div>
        </header>

        <div id="mainContent">

            <div class="welcome">
                <div class="container">
                    <h2>Welcome</h2>
                    <p>This website documents the usage of the <a href="http://www.chibi.ubc.ca/Gemma/rest/v2/"
                                                                  target="_blank">Gemma REST API</a>. Here
                        you can find example script usage of the API, as well as graphical interface for each
                        endpoint, with description of its parameters and the endpoint URL.</p>
                    <p>The documentation of the underlying java code can be found <a
                        href="http://www.chibi.ubc.ca/Gemma/resources/apidocs/ubic/gemma/web/services/rest/package-summary.html">here</a>.
                        See the <a href="#footer">links section</a> in the footer of this page for other relevant links.
                    </p>
                    <div class="alert alert-warning">
                        The current release of the REST API does not have an authentication system implemented yet,
                        which
                        causes some of the endpoints to filter out results that require authorized access. Current
                        work-around
                        is to go to <a href="http://www.chibi.ubc.ca/Gemma/">the Gemma website</a> and log in. This will
                        create
                        an authorised session for your connection, that will be applied to the API calls as well.
                    </div>
                </div>
            </div>

            <div class="codeSamples">
                <div class="container">
                    <h2>Code samples</h2>
                    <p>Examples of the API usage in scripts.</p>
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="panel panel-default codePanel">
                                <div class="panel-heading">
                                    Python
                                </div>
                                <div class="panel-body">
                                <pre class="prettyprint codeSample">
                                    {{ pythonExample }}
                                </pre>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="panel panel-default codePanel">
                                <div class="panel-heading">
                                    R
                                </div>
                                <div class="panel-body">
                                <pre class="prettyprint codeSample">
                                    {{ rExample }}
                                </pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="endpoints">

                <div class="container">
                    <h2>API Endpoints</h2>
                    <p>List of all API endpoints, with a GUI for test calls.</p>
                    <p>Click on the endpoint category to expand it, and then on each endpoint name to see its interface
                        and
                        parameters.</p>
                </div>

                <endpoint :name="'Root endpoint'"
                          :description="'Displays a welcome message'"
                          :query-params="[]"
                          :path-params="[]"
                          :endpoint-url-base="''">
                </endpoint>

                <hr>

                <div class="container endpointsGroupTitle" v-on:click=" showDatasets = !showDatasets">
                <span
                    v-bind:class="[showDatasets ? 'glyphicon-collapse-up' : 'glyphicon-collapse-down', 'glyphicon']"></span>
                    <h3>Dataset endpoints</h3>
                    <p>Endpoints accessing datasets (i.e. expression experiments), and their associated properties and
                        files</p>
                </div>

                <div id="datasetEndpoints" v-show="showDatasets">

                    <endpoint :name="'All datasets'"
                              :description="'Lists all datasets'"
                              :query-params="getDatasetsAllQueryParams()"
                              :path-params="[]"
                              :endpoint-url-base="'datasets/'">
                    </endpoint>

                    <endpoint :name="'Specific dataset'"
                              :description="'Retrieves single dataset based on the given dataset identifier'"
                              :query-params="[]"
                              :path-params="[getDatasetParam()]"
                              :endpoint-url-base="'datasets/%1/'">
                    </endpoint>

                    <endpoint :name="'Dataset platforms'"
                              :description="'Retrieves platforms for the given dataset'"
                              :query-params="[]"
                              :path-params="[getDatasetParam()]"
                              :endpoint-url-base="'datasets/%1/platforms'">
                    </endpoint>

                    <endpoint :name="'Dataset samples'"
                              :description="'Retrieves samples for the given dataset'"
                              :query-params="[]"
                              :path-params="[getDatasetParam()]"
                              :endpoint-url-base="'datasets/%1/samples'">
                    </endpoint>

                    <endpoint :name="'Dataset differential analysis'"
                              :description="'Retrieves the differential analysis results for the given dataset'"
                              :query-params="getDatasetsDiffAnalQueryParams()"
                              :path-params="[getDatasetParam()]"
                              :endpoint-url-base="'datasets/%1/analyses/differential'">
                    </endpoint>

                    <endpoint :name="'Dataset annotations'"
                              :description="'Retrieves the annotations for the given dataset'"
                              :query-params="[]"
                              :path-params="[getDatasetParam()]"
                              :endpoint-url-base="'datasets/%1/annotations'">
                    </endpoint>

                    <endpoint :name="'Dataset data'"
                              :description="'Retrieves the data for the given dataset'"
                              :query-params="getDatasetsDataQueryParams()"
                              :path-params="[getDatasetParam()]"
                              :endpoint-url-base="'datasets/%1/data'"
                              :json-response="false">
                    </endpoint>

                    <endpoint :name="'Dataset design'"
                              :description="'Retrieves the design for the given dataset'"
                              :query-params="[]"
                              :path-params="[getDatasetParam()]"
                              :endpoint-url-base="'datasets/%1/design'"
                              :json-response="false">
                    </endpoint>

                    <div class="rowPad"></div>

                </div>

                <hr>

                <div class="container endpointsGroupTitle" v-on:click=" showPlatforms = !showPlatforms">
                <span
                    v-bind:class="[showPlatforms ? 'glyphicon-collapse-up' : 'glyphicon-collapse-down', 'glyphicon']"></span>
                    <h3>Platform endpoints</h3>
                    <p>Endpoints accessing platforms, and their associated properties and files</p>
                </div>

                <div id="platformEndpoints" v-show="showPlatforms">

                    <endpoint :name="'All platforms'"
                              :description="'List all platforms'"
                              :query-params="getDatasetsAllQueryParams()"
                              :path-params="[]"
                              :endpoint-url-base="'platforms/'">
                    </endpoint>

                    <endpoint :name="'Specific platform'"
                              :description="'Retrieves single platform based on the given dataset identifier'"
                              :query-params="[]"
                              :path-params="[getPlatformParam()]"
                              :endpoint-url-base="'platforms/%1/'">
                    </endpoint>

                    <endpoint :name="'Platform datasets'"
                              :description="'Retrieves experiments in the given platform'"
                              :query-params="getOffsetLimitQueryParams()"
                              :path-params="[getPlatformParam()]"
                              :endpoint-url-base="'platforms/%1/datasets/'">
                    </endpoint>

                    <endpoint :name="'Platform elements'"
                              :description="'Retrieves the composite sequences (elements) for the given platform'"
                              :query-params="getOffsetLimitQueryParams()"
                              :path-params="[getPlatformParam()]"
                              :endpoint-url-base="'platforms/%1/elements/'">
                    </endpoint>

                    <endpoint :name="'Specific element on a platform'"
                              :description="'Retrieves a specific composite sequence (element) for the given platform'"
                              :query-params="[]"
                              :path-params="getPlatformsElementPathParams()"
                              :endpoint-url-base="'platforms/%1/elements/%2/'">
                    </endpoint>

                    <endpoint :name="'Platform element genes'"
                              :description="'Retrieves the genes on the given platform element'"
                              :query-params="getOffsetLimitQueryParams()"
                              :path-params="getPlatformsElementPathParams()"
                              :endpoint-url-base="'platforms/%1/elements/%2/genes/'">
                    </endpoint>

                    <endpoint :name="'Platform annotations'"
                              :description="'Retrieves the annotation file for the given platform'"
                              :query-params="[]"
                              :path-params="[getPlatformParam()]"
                              :endpoint-url-base="'platforms/%1/annotations/'"
                              :json-response="false">
                    </endpoint>

                    <div class="rowPad"></div>

                </div>

                <hr>

                <div class="container endpointsGroupTitle" v-on:click=" showGenes = !showGenes">
                <span
                    v-bind:class="[showGenes ? 'glyphicon-collapse-up' : 'glyphicon-collapse-down', 'glyphicon']"></span>
                    <h3>Gene endpoints</h3>
                    <p>Endpoints accessing genes (non taxon-specific). Most endpoints also have a
                        taxon-specific counterpart in the 'Taxa endpoints'.</p>
                </div>

                <div id="geneEndpoints" v-show="showGenes">

                    <div class="container">
                        <div class="alert alert-warning">
                            Please be aware that the 'Official symbol' identifier of a gene refers to the set of
                            homologues.
                            Using the official symbol as a gene parameter for these endpoints will yield a random
                            homologue.
                            Use the methods from the 'Taxa endpoints' if you want to use the official symbol for a
                            specific
                            homologue.
                        </div>
                    </div>

                    <endpoint :name="'Genes'"
                              :description="'Retrieves all genes matching the identifier'"
                              :query-params="[]"
                              :path-params="[getGeneParam()]"
                              :endpoint-url-base="'genes/%1'">
                    </endpoint>

                    <endpoint :name="'Gene evidence'"
                              :description="'Retrieves gene evidence for the given gene'"
                              :query-params="[]"
                              :path-params="[getGeneParam()]"
                              :endpoint-url-base="'genes/%1/evidence'">
                    </endpoint>

                    <endpoint :name="'Gene locations'"
                              :description="'Retrieves the physical location of the given gene'"
                              :query-params="[]"
                              :path-params="[getGeneParam()]"
                              :endpoint-url-base="'genes/%1/locations'">
                    </endpoint>

                    <endpoint :name="'Gene probes'"
                              :description="'Retrieves the probes (composite sequences) with this gene'"
                              :query-params="getOffsetLimitQueryParams()"
                              :path-params="[getGeneParam()]"
                              :endpoint-url-base="'genes/%1/probes'">
                    </endpoint>

                    <endpoint :name="'Gene goTerms'"
                              :description="'Retrieves the GO terms of the given gene'"
                              :query-params="[]"
                              :path-params="[getGeneParam()]"
                              :endpoint-url-base="'genes/%1/goTerms'">
                    </endpoint>

                    <endpoint :name="'Gene coexpression'"
                              :description="'Retrieves the coexpression of two given genes'"
                              :query-params="getGeneCoexpQueryParams()"
                              :path-params="[getGeneParam()]"
                              :endpoint-url-base="'genes/%1/goTerms'">
                    </endpoint>

                    <div class="rowPad"></div>

                </div>

                <hr>

                <div class="container endpointsGroupTitle" v-on:click=" showTaxa = !showTaxa">
                <span
                    v-bind:class="[showTaxa ? 'glyphicon-collapse-up' : 'glyphicon-collapse-down', 'glyphicon']"></span>
                    <h3>Taxa endpoints</h3>
                    <p>Endpoints accessing data for specific taxa. E.g: Taxon-specific genes or datasets</p>
                </div>

                <div id="taxaEndpoints" v-show="showTaxa">
                    <endpoint :name="'All taxa'"
                              :description="'Lists all available taxa.'"
                              :query-params="[]"
                              :path-params="[]"
                              :endpoint-url-base="'taxa/'">l
                    </endpoint>

                    <endpoint :name="'Specific taxon'"
                              :description="'Retrieves single taxon based on the given identifier.'"
                              :query-params="[]"
                              :path-params="[getTaxonParam()]"
                              :endpoint-url-base="'taxa/%1'">
                    </endpoint>

                    <endpoint :name="'Taxon datasets'"
                              :description="'Retrieves datasets for the given taxon.'"
                              :query-params="getDatasetsAllQueryParams()"
                              :path-params="[getTaxonParam()]"
                              :endpoint-url-base="'taxa/%1/datasets'">
                    </endpoint>

                    <endpoint :name="'Taxon phenotypes'"
                              :description="'Loads all phenotypes for the given taxon.'"
                              :query-params="[getEditableParam()]"
                              :path-params="[getTaxonParam()]"
                              :endpoint-url-base="'taxa/%1/phenotypes'">
                    </endpoint>

                    <endpoint :name="'Gene on specific taxon'"
                              :description="'Retrieves genes matching the identifier on the given taxon.'"
                              :query-params="[]"
                              :path-params="[getTaxonParam(), getGeneParam()]"
                              :endpoint-url-base="'taxa/%1/genes/%2'">
                    </endpoint>

                    <endpoint :name="'Gene evidence on specific taxon'"
                              :description="'Retrieves gene evidence for the gene on the given taxon.'"
                              :query-params="[]"
                              :path-params="[getTaxonParam(), getGeneParam()]"
                              :endpoint-url-base="'taxa/%1/genes/%2/evidence'">
                    </endpoint>

                    <endpoint :name="'Gene location on specific taxon'"
                              :description="'Retrieves gene evidence for the gene on the given taxon.'"
                              :query-params="[]"
                              :path-params="[getTaxonParam(), getGeneParam()]"
                              :endpoint-url-base="'taxa/%1/genes/%2/locations'">
                    </endpoint>

                    <endpoint :name="'Genes at location'"
                              :description="'Finds genes overlapping a given region.'"
                              :query-params="[getStrandParam(), getStartParam(), getSizeParam()]"
                              :path-params="[getTaxonParam(), getChromosomeParam()]"
                              :endpoint-url-base="'taxa/%1/chromosomes/%2/genes'">
                    </endpoint>
                </div>

                <hr>

                <div class="container endpointsGroupTitle" v-on:click=" showOther = !showOther">
                <span
                    v-bind:class="[showOther ? 'glyphicon-collapse-up' : 'glyphicon-collapse-down', 'glyphicon']"></span>
                    <h3>Other endpoints</h3>
                    <p>Endpoints accessing more general information that would not fit in other categories.</p>
                </div>

                <div id="otherEndpoints" v-show="showOther">

                    <endpoint :name="'Annotation search'"
                              :description="'Does a search for ontology terms based on the given string'"
                              :query-params="[getTaxonSearchParam()]"
                              :path-params="[getSearchParam()]"
                              :endpoint-url-base="'annotations/search/%1'">
                    </endpoint>

                    <endpoint :name="'Evidence'"
                              :description="'Finds all evidence with the given external database name'"
                              :query-params="getEvidenceQueryParams()"
                              :path-params="[]"
                              :endpoint-url-base="'phenotypes/evidence/'">
                    </endpoint>

                    <endpoint :name="'Dumps'"
                              :description="'Retrieves information about external data sources from Phenocarta, including URLs and timestamps of the most recent update dates/times'"
                              :query-params="[]"
                              :path-params="[]"
                              :endpoint-url-base="'phenotypes/dumps/'">
                    </endpoint>

                    <div class="rowPad"></div>

                </div>

            </div>

        </div>

        <footer>
            <div class="container">
                <div class="row">
                    <a id="footer"></a>
                    <div class="col-xs-3">
                        <img src="img/gemmaLogo.png">
                    </div>
                    <div class="col-xs-5">
                        <h4><span class="glyphicon glyphicon-cog"></span> Gemma</h4>
                        <ul>
                            <li><a href="http://gemma-doc.chibi.ubc.ca/" target="_blank">
                                Gemma user manual & blog </a></li>
                            <li><a href="http://www.chibi.ubc.ca/Gemma" target="_blank">
                                Gemma website</a></li>
                            <li><a href="http://www.chibi.ubc.ca/Gemma/resources/apidocs/" target="_blank">
                                Code documentation</a></li>
                            <li><a href="https://github.com/ppavlidis/Gemma" target="_blank">
                                Gemma on Github</a></li>
                            <li><a href="http://www.chibi.ubc.ca/Gemma/rest/v2/" target="_blank">
                                REST API Root</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-4">
                        <h4><span class="glyphicon glyphicon-link"></span> Other links</h4>
                        <ul>
                            <li><a href="https://www.chibi.ubc.ca/faculty/paul-pavlidis/pavlidis-lab/" target="_blank">The
                                lab</a></li>
                            <li><a
                                href="https://www.chibi.ubc.ca/faculty/paul-pavlidis/pavlidis-lab/software-and-resources/"
                                target="_blank">Other software</a></li>
                        </ul>
                        <h4><a href="mailto:gemma@chibi.ubc.ca" target="_blank"><span
                            class="glyphicon glyphicon-envelope"></span> Contact</a></h4>
                    </div>
                </div>
            </div>
            <footer>
                <div class="container text-center">
                    <h4>Copyright &copy; 2017 University of British Columbia</h4>
                    <a href="http://www.ubc.ca/" target="_blank"><img src="img/ubcLogo.png" height="100px"></a>
                </div>
            </footer>
        </footer>

        <!-- Vue templates -->
        <script type="text/x-template" id="endpoint-template">
            <div class="endpoint">
                <div class="container">
                    <div class="header" v-on:click=" show= !show ">
                        <span
                            v-bind:class="[show ? 'glyphicon-collapse-up' : 'glyphicon-collapse-down', 'glyphicon']"></span>
                        <h4> {{ name }}</h4>
                        <span class="description">{{ description }}</span>
                    </div>
                    <div class="row apiRow is-flex" v-if="show">
                        <div class="col-sm-6">
                            <h5>Parameters:<span class="badge invisible"><span class="glyphicon">&#160;</span></span>
                            </h5>
                            <form v-on:submit.prevent="">
                                <div v-for="param in pathParams" class="paramRow">
                                    <api-param :param="param"></api-param>
                                </div>

                                <div v-for="param in queryParams" class="paramRow">
                                    <api-param :param="param"></api-param>
                                </div>

                                <div v-if="pathParams.length == 0 && queryParams.length == 0" class="paramRow">
                                    <span class="preLike">No parameters</span>
                                </div>

                                <div class="preLike">{{ completeUrl }}</div>

                                <button class="btn btn-primary" v-on:click="getResponse"
                                        title="Executes the call and displays the response in the response panel.">Call
                                    API
                                </button>
                                <a v-bind:href="completeUrl" class="btn" target="_blank"
                                   title="Calls the query in a new tab and lets your browser handle the response.">
                                    Open link <span class="glyphicon glyphicon-link"></span>
                                </a>
                            </form>
                        </div>
                        <div class="col-sm-6 responseCol">
                            <div class="responseHeader">
                                <h5>Response:
                                    <span v-if="status!=null" v-bind:class="[isError ? 'apiError' : 'apiOk', 'badge']"
                                          title="Response status code">
                                        {{ status }}
                                        <span v-if="status!=null"
                                              v-bind:class="[isError ? 'glyphicon-remove' : 'glyphicon-ok', 'glyphicon']">
                                        </span>
                                    </span>
                                    <span v-if="status!=null && jsonResponse" class="badge">
                                        JSON <span class="glyphicon glyphicon-file"></span>
                                    </span>
                                    <span v-if="status!=null && !jsonResponse" class="badge">
                                        TEXT FILE <span class="glyphicon glyphicon-file"></span>
                                    </span>
                                    <span class="badge invisible"><span class="glyphicon">&#160;</span></span>
                                </h5>
                            </div>
                            <pre v-if="loadingMsgFull != null" class="response">{{ loadingMsgFull }}</pre>
                            <!--<pre v-else-if="jsonResponse" class="response">-->
                            <tree-view v-else-if="jsonResponse" class="preLike response" :data="response"
                                       :options="{maxDepth: 10}"></tree-view>
                            <!--</pre>-->
                            <pre v-else class="response">{{ response }}</pre>
                        </div>
                    </div>
                </div>
            </div>
        </script>

        <script type="text/x-template" id="api-param-template">
            <div>
                <label hidden
                       v-bind:for="$parent.name.replace(/ /g,'') + '.' + param.name ">{{ param.name }}</label>

                <div class="input-group" v-bind:class="[param.required ? 'has-warning' : '' ]"
                     v-bind:title="param.required ? 'Required' : 'Optional' ">
                    <span class="input-group-addon">{{ param.name }} = </span>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input class="form-control" v-model="param.value" v-on:change="$parent.computeUrl()"
                           v-bind:id="$parent.name.replace(/ /g,'') + '.' + param.name "
                    >
                    <span class="input-group-btn">
                        <button class="btn btn-info" v-on:click=" showInfo = !showInfo ">
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </button>
                    </span>
                </div>

                <div class="preLike" v-if="showInfo" v-html="param.description"></div>
            </div>
        </script>

        <!-- Vue init -->
        <script src="js/vue/descriptions.js"></script>
        <script src="js/vue/codeSamples.js"></script>
        <!-- TODO change for production -->
        <!--<script src="https://unpkg.com/min"></script>-->
        <script src="https://unpkg.com/vue"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
        <script src="js/vendor/vue-json-tree-view.min.js"></script>
        <script src="js/vue/app.js"></script>
        <!-- Other scripts -->
        <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
        <script src="js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script>
            window.ga = function () {
                ga.q.push(arguments)
            };
            ga.q = [];
            ga.l = +new Date;
            ga('create', 'UA-XXXXX-Y', 'auto');
            ga('send', 'pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    </body>
</html>
